<footer class="py-14 bg-black text-white">
  <div class="container-w">
    <div class="flex flex-col gap-12 mb-12 sm:flex-row sm:justify-between">
      <div class="flex flex-col gap-12">
        <img
          src="/logo-footer.svg"
          alt="TOPHAIR logo"
          class="w-28 mx-auto sm:mx-0 lg:w-36"
        />

        <address class="not-italic">
          <h2 class="text-base sm:text-start">Fale conosco</h2>

          <span class="block max-w-[256px] mx-auto mb-3 text-xs sm:text-start">
            Fale conosco através dos nosso canais de atendimento das 09h às 18h.
          </span>

          <a href="tel:(71) 98419-7195" class="sm:block w-fit sm:text-start">
            <strong class="text-xs normal-case">
              WhatsApp: (71) 98419-7195
            </strong>
          </a>

          <br class="sm:hidden" />

          <a
            href="mailto:suporte@tophairgummy.com"
            class="sm:block w-fit sm:text-start"
          >
            <strong class="text-xs normal-case">
              suporte@tophairgummy.com
            </strong>
          </a>
        </address>
      </div>

      <figure class="hidden lg:block">
        <figcaption class="text-[8px] font-extrabold uppercase mb-2">
          Formas de pagamento
        </figcaption>

        <img src="/payment-methods.png" alt="" class="mx-auto" />
      </figure>

      <div class="flex flex-col gap-12">
        <div class="sm:min-w-[256px]">
          <div class="flex justify-center items-center gap-3 mb-4 text-sm">
            <img src="/lock.svg" alt="" />

            <span>
              Ambiente <strong class="normal-case">seguro</strong>
            </span>
          </div>

          <div class="flex justify-center items-center gap-3 text-sm">
            <img src="/check.svg" alt="" />

            <span>
              SSL <strong class="normal-case">certificado</strong>
            </span>
          </div>
        </div>

        <figure class="lg:hidden">
          <figcaption class="text-[8px] font-extrabold uppercase mb-2">
            Formas de pagamento
          </figcaption>

          <img src="/payment-methods.png" alt="" class="mx-auto" />
        </figure>
      </div>
    </div>

    <div class="text-xs">
      <em class="block mb-5 sm:text-end">Todos os direitos reservados.</em>

      <em class="block sm:text-end">
        VSIONAR afiliação autorizada - landing page desenvolvida por
        <a href="https://www.encestudio.com" target="_blank" class="underline"
          >Ence</a
        >
        e
        <a
          href="https://linktr.ee/gabriel_vs_frasao"
          target="_blank"
          class="underline"
        >
          Gabriel VS Frasão
        </a>
        .
      </em>
    </div>
  </div>
</footer>
